<div id="about-container">
    <div id="about-container-inner">
      <!-- <i class="fas fa-camera"></i> 
            <i class="fas fa-address-card"></i> -->
      <app-header></app-header>
      <div class="art-content">
        <div class="art-c1">
          <h1 class="mt-4 mb-4">This Week's Best-Selling Artists</h1>
          <div class="alert alert-warning">
            <span>Each week we show you who are our best-selling artists ...</span>
          </div>
          <div class="art-container-grid">
            <div class="artist-card">
              <img src="assets/img/artists/1.jpg" alt="artist1">
              <h2 class="small">Picasso</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">66</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/99.jpg" alt="artist2">
              <h2 class="small">Raphael</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">56</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/19.jpg" alt="artist3">
              <h2 class="small">Van Gogh</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">40</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/95.jpg" alt="artist4">
              <h2 class="small">Botticelli</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">37</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/29.jpg" alt="artist5">
              <h2 class="small">Klimt</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">36</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/2.jpg" alt="artist6">
              <h2 class="small">Matisse</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">34</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/98.jpg" alt="artist7">
              <h2 class="small">Michel Angelo</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">32</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/106.jpg" alt="artist8">
              <h2 class="small">Vermeer</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">31</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/97.jpg" alt="artist9">
              <h2 class="small">Da Vinci</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">26</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/21.jpg" alt="artist10">
              <h2 class="small">Cezanne</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">25</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/17.jpg" alt="artist11">
              <h2 class="small">Monet</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">25</span>
              </button>
            </div>
            <div class="artist-card">
              <img src="assets/img/artists/101.jpg" alt="artist12">
              <h2 class="small">Cervaggio</h2>
              <button class="btn btn-info full-width">
                <i class="fas fa-fire"></i> Sales
                <span class="badge badge-pill badge-light">18</span>
              </button>
            </div>
          </div>
          <div class="progress mt-5">
            <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Gothic</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Renaissance</div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Baroque</div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Pre-Modern</div>
            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Modern</div>
            <!-- <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div> -->
          </div>            
        </div>

      </div>
    </div>
  </div>