<div id="about-container">
    <div id="about-container-inner">
        <!-- <i class="fas fa-camera"></i> 
        <i class="fas fa-address-card"></i> -->
        <app-header></app-header>
          <div class="about-content">
            <div class="banner">
              <h2 class="drop-shadow">About Us</h2>
              <p class="drop-shadow">This assignment was created by Nino Aquino Here.</p>
              <p class="drop-shadow">It was created for IS183 at CSUF.</p>
              <button class="btn btn-primary drop-shadow">Learn More</button>
            </div>
      
    </div>
    <div class="top-inner-section">
        <div class="pic-container">
            <img src="../../assets/img/profilephoto.jpg" class="bio-image" alt="my picture">
        </div>
        <div class="bio-description">
            <h2>My Biography</h2>
            <p>My name is Nino Jesus Aquino, I go by Jesus. I'm currently a student in California State University Fresno
                majoring in Information System. For a while I did not know what to take as my major in College, thankfully 
                I got introduced to information systems and I knew that it is something I want to do.
                My goal right now is to graduate and I hope to get a job in software development and develop applications.
            </p>
            <!-- <p> PLACEHOLDER </p> -->
        </div>
    </div>
</div>